.pub-list-filter-key {
	display: flex;
	align-items: flex-start;
	padding: 4px 0;
}
.bimeson_list_edit_row { text-align: right; }

.pub-list-filter-cbs {
	display: flex;
	flex-wrap: wrap;
	padding: 0.25em 0 0;
}
.pub-list-filter-cbs label {
	padding: 4px;
}
input[type=checkbox].tgl {
	display: none;
}

.tgl + .tgl-btn {
	margin-right: 4px;
	display: block;
	outline: 0;

	width: 4em;
	min-width: 4em;
	height: 2em;

	position: relative;
	cursor: pointer;
	user-select: none;

	padding: 2px;
	background: #fff;
	border-radius: 2em;
	transition: all .4s ease;

	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.tgl + .tgl-btn:after {
	display: block;
	content: "";
	width: 50%;
	height: 100%;

	position: relative;
	left: 0;

	border-radius: 50%;
	transition: all .2s ease;

	border: 1px solid #ccc;
	background: #f7f7f7;
	box-shadow: 0 1px 0 #ccc;
	box-sizing: border-box;
}

.tgl:checked + .tgl-btn::after {
	left: 50%;
}

.tgl-light:checked + .tgl-btn {
	background: #fa0;
}

.bimeson_list_filter_loading {
	margin-right: 1em;
	visibility: hidden;
}

.bimeson_list_filter_loading span {
	display: inline-block;
	width: 2em;
	height: 2em;
	border: 3px solid #fa0;
	border-top-color: transparent;
	transform: rotate(360deg);
	animation: rotate .75s 0s linear infinite;
	border-radius: 50%;
}
@keyframes rotate {
	0% { transform: rotate(0deg) scale(1); }
	50% { transform: rotate(180deg) scale(0.6); }
	100% { transform: rotate(360deg) scale(1); }
}

.bimeson_list_filter_row {
	padding: 6px;
	border: 1px solid #eee;
	border-radius: 4px;
	margin-bottom: 8px;
}

#_bimeson_pub_lang {
	margin-right: 1rem;
}
